.home {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100dvh;

	.controlsWrapper {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 50;
		pointer-events: none;

		.controls {
			position: relative;
			width: 100%;
			height: 100%;

			.nav {
				position: absolute;
				bottom: 1em;
				right: 1em;

				.mainButton {
					position: relative;

					button {
						width: 2em;
						height: 2em;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 1.7em;
						background-color: var(--ac-color);
						color: var(--pr-color);
						clip-path: polygon(30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%, 0 30%);
						pointer-events: all;
						cursor: pointer;

						&:not(.main) {
							position: absolute;
							bottom: 0;
							right: 0;
							translate: 0 calc(-130% - 0.7em);
							font-size: 1.3em;
						}

						.icon {
							width: 60%;
							height: 60%;
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}
				}
			}
		}
	}
}