.home {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100dvh;

	.menuButton {
		z-index: 50;
		position: absolute;
		top: 1em;
		left: 1em;
		padding: 0.9em;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--ac-color);
		color: var(--pr-color);
		clip-path: polygon(30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%, 0 30%);
		cursor: pointer;

		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.3em;
		}
	}

	.menu {
		position: absolute;
		z-index: 40;
		top: 0;
		left: 0;
		height: 100dvh;
		max-width: 100%;
		width: 22em;
		background-color: var(--pr-color);
		padding-top: 5em;
		padding-left: 4em;
		clip-path: polygon(0 0, calc(100% - 2em) 0, 100% 2em, 100% calc(100% - 2em), calc(100% - 2em) 100%, 0 100%);

		ul {
			display: flex;
			flex-direction: column;
			gap: 1em;
			font-size: 1.2em;
			padding: 1em;
			height: 100%;

			li {
				display: flex;
				align-items: center;
				gap: 0.5em;
				padding: 0.5em;

				&.last {
					margin-top: auto;
				}

				.icon {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}

	.controlsWrapper {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 50;
		pointer-events: none;

		.controls {
			position: relative;
			width: 100%;
			height: 100%;

			.nav {
				position: absolute;
				bottom: 1em;
				right: 1em;
				display: flex;
				flex-direction: column-reverse;
				align-items: flex-end;
				gap: 1em;

				button {
					width: 2em;
					height: 2em;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 1.7em;
					background-color: var(--ac-color);
					color: var(--pr-color);
					clip-path: polygon(30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%, 0 30%);
					pointer-events: all;
					cursor: pointer;

					&:not(.main) {
						bottom: 0;
						right: 0;
						font-size: 1.3em;
					}

					.icon {
						width: 60%;
						height: 60%;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
			}
		}
	}
}