.profileProducts {
	width: 100%;
	min-height: 100dvh;
	padding: 1.5em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	a {
		display: flex;
		align-items: center;
		gap: 0.5em;
		color: var(--tx-color);
		width: max-content;

		.icon {
			display: flex;
			align-items: center;
		}
	}

	h3 {
		font-size: 1.2em;
		margin-top: 1em;
	}

	.list {
		width: 100%;
		height: max-content;
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding-block: 1em;

		.product {
			width: 100%;
			background-color: var(--tx-color-op);
			padding: 1.5em;
			display: flex;
			flex-direction: column;
			gap: 0.2em;
			clip-path: polygon(1em 0, 100% 0, 100% calc(100% - 1em), calc(100% - 1em) 100%, 0 100%, 0 1em);

			.title {
				font-size: 1.2em;
			}

			.info {
				display: flex;
				flex-direction: column;
				gap: 0.5em;

				.brand {
					display: flex;
					align-items: center;
					color: var(--tx-color-op-2);
				}
			}
		}
	}
}