.notFound {
	width: 100%;
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
	position: relative;

	.back {
		position: absolute;
		top: 1.5em;
		left: 1.5em;
		display: flex;
		align-items: center;
		color: var(--tx-color);
		gap: 0.5em;

		.linkIcon {
			display: flex;
			align-items: center;
		}
	}

	.icon {
		font-size: 6em;
	}

	.content {
		font-size: 1.2em;
		display: flex;
		flex-direction: column;
		gap: 2em;
		text-align: center;
		align-items: center;

		.info {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5em;
			max-width: 85%;
			text-wrap: pretty;

			.title {
				font-size: 1.5em;
				font-weight: 700;
			}
		}

		button {
			display: flex;
			gap: 0.5em;
			align-items: center;
			font-size: 1.2em;
			padding: 0.5em 1em;
			color: var(--pr-color);
			background-color: var(--ac-color);
			clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
	
			.buttonIcon {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}