.dashboard {
	width: 100%;
	min-height: 100dvh;
	padding: 1.5em;
	display: flex;
	flex-direction: column;
	gap: 1.5em;

	a {
		display: flex;
		gap: 0.5em;
		align-items: center;
		color: var(--tx-color );

		.icon {
			display: flex;
			align-items: center;
		}
	}

	.options {
		width: 100%;
		height: max-content;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;

		.reports {
			grid-column: span 2;
		}

		.commerces, .products, .posts, .reports, .users {
			width: 100%;
			background-color: var(--tx-color-op);
			height: max-content;
			display: flex;
			flex-direction: column;
			gap: 0.2em;
			padding: 1em;
			clip-path: polygon(1em 0, 100% 0, 100% calc(100% - 1em), calc(100% - 1em) 100%, 0 100%, 0 1em);

			.count {
				font-size: 2em;
				display: flex;
				flex-direction: column;
			}
		}
	}

	button {
		width: 100%;
		padding: 0.7em;
		background-color: var(--ac-color);
		display: flex;
		align-items: center;
		gap: 0.5em;
		color: var(--pr-color);
		font-size: 1.2em;
		clip-path: polygon(0.8em 0, 100% 0, 100% calc(100% - 0.8em), calc(100% - 0.8em) 100%, 0 100%, 0 0.8em);

		.icon {
			display: flex;
			align-items: center;
		}
	}
}