.location {
	width: 100%;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	position: relative;

	.back {
		position: absolute;
		top: 1.5em;
		left: 1.5em;
		display: flex;
		align-items: center;
		gap: 0.5em;
		z-index: 5;

		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	
	.map {
		width: 100%;
		height: 15%;
		overflow: hidden;
		opacity: 0.5;
	}

	.info {
		width: 100%;
		height: max-content;
		padding: 1.5em;
		display: flex;
		flex-direction: column;
		gap: 0.5em;

		.name {
			font-size: 2em;
		}

		.bottom {
			width: 100%;
			display: flex;
			justify-content: space-between;

			.rating {
				display: flex;
				gap: 0.5em;
				align-items: center;

				.stars {
					display: flex;
					gap: 0.2em;

					.star {
						display: flex;
						align-items: center;
					}
				}
			}

			button {
				display: flex;
				gap: 1em;
				align-items: center;
				padding: 0.5em 1em;
				color: var(--pr-color);
				background-color: var(--ac-color);
				clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);

				.icon {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}