@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

:root {
	--pr-color: #1c1c1c;
	--ac-color: #3b9c6a;
	--tx-color: #f0f0f0;
	--ac-color-op: #3b9c6a80;
	--tx-color-op: #f0f0f02d;
	--tx-color-op-2: #f0f0f080;
	--er-color: #9c3b43;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Signika', sans-serif;
	font-weight: 400;
	background-color: var(--pr-color);
	color: var(--tx-color);
}

input, button, select {
	border: none;
	outline: none;
	font-family: 'Signika', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

a {
	color: var(--ac-color);
}

.tippy-box[data-inertia][data-state='visible'] {
	transition-timing-function: cubic-bezier(0.77,0,0.18,1);
}

.tippy-content {
	font-size: 1.2em;
	padding: 0.5em 1em;
}

.tippy-box {
	background-color: var(--ac-color);
}

.tippy-arrow {
	color: var(--ac-color);
}