.signUp {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 2.5em;
	flex-direction: column;
	gap: 2em;

	a {
		display: flex;
		align-items: center;
		gap: 0.5em;

		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	
	h2 {
		font-size: 2.5em;
		text-align: left;
		text-wrap: pretty;
	}

	form {
		width: 100%;
		height: max-content;
		display: flex;
		flex-direction: column;
		gap: 2em;

		fieldset {
			border: none;
			outline: none;
			display: flex;
			flex-direction: column;
			gap: 1em;

			.input {
				width: 100%;
				position: relative;
				display: flex;
				align-items: center;
				
				input {
					width: 100%;
					font-size: 1.2em;
					padding: 0.7em;
					padding-left: 2.7em;
					background-color: transparent;
					color: var(--tx-color);
					border: 3px solid var(--tx-color-op);
					transition: border 0.2s ease-out;
	
					&:focus {
						border: 3px solid var(--ac-color);

						+ .icon {
							color: var(--ac-color);
							opacity: 1;
						}
					}

					&.error {
						border: 3px solid var(--er-color);
					}
				}

				.icon {
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 1.5em;
					left: 0.7em;
					transition: 0.2s ease-out;
					opacity: 0.3;
				}
			}
		}

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1em;
			gap: 0.5em;
			background-color: var(--ac-color);
			color: var(--pr-color);
			clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
			font-size: 1.2em;

			&:disabled {
				cursor: not-allowed;
				opacity: 0.5;
			}
		}
	}

	span {
		font-size: 1.2em;
	}
}